<h1>Music Search</h1>

<!-- submit to /artists -->
<form action="/search/music" method="get">
    Search for a song: <input type="text" name="title">
    </br> </br>

    Or search for an artist: <input type="text" name="artist"> </br>
    </br>
    <input type="submit" value="Search">
</form>